import locale
from pathlib import Path

import pytz

BASE_DIR = Path(__file__).resolve().parent
ROOT_DIR = BASE_DIR.parent

locale.setlocale(locale.LC_TIME, 'ru_RU')


class Config:
    class Bot:
        TOKEN: str = '662266222:AABBAAA55BB2AAB-1ABBBAAABBB432BBB'
        TEMPLATES_DIR = ROOT_DIR / "services/bot_service/templates"
        TARGET_CHAT = -909090900

    class Contacts:
        MANAGER: str = ''
        DEVELOPER: str = ''

    class Scheduler:
        SEND_DAILY_REPORT_AT: dict = {'h': 20, 'm': 45, 's': 10}

    class Db:
        DB_FILE = ROOT_DIR / "var/db.sqlite3"
        MIGRATIONS_DIR = ROOT_DIR / "common/migrations"

    class Store:
        LOGS_DIR = ROOT_DIR / 'var/logs'
        IMG_DIR = ROOT_DIR / 'var/img'

    class Date:
        TIMEZONE = pytz.timezone("Europe/Moscow")

    class Keyboard:
        CURRENT_DAY_ACTIVITY: str = 'CURRENT_DAY_ACTIVITY'
        LAST_DAY_ACTIVITY: str = 'LAST_DAY_ACTIVITY'
        LAST_THREE_DAYS_ACTIVITY: str = 'LAST_THREE_DAYS_ACTIVITY'
        LAST_WEEK_ACTIVITY: str = 'LAST_WEEK_ACTIVITY'


config = Config()
