from pathlib import Path


BOT_TOKEN = '9999999999:Z9Z999ZZZZZZZZ-Z9Z999ZZZZZZZZ99ZZ9Z'
TARGET_CHANNEL_ID = -9999999999999

BASE_DIR = Path(__file__).resolve().parent
ROOT_DIR = BASE_DIR.parent
SQLITE_DB_FILE = ROOT_DIR / "/var/db/db.sqlite3"
MIGRATIONS_DIR = BASE_DIR / "migrations"
TEMPLATES_DIR = BASE_DIR / "templates"

LOGS_DIR = ROOT_DIR / '/var/logs'